{% extends 'reading/reading_base.html' %}
{% load static %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ project.name }} - {% trans 'label_edit_project_member' %}{% endblock title %}

{% block breadcrumb_content %}
{{ block.super }}
<li>
<a href="{% url 'reading:project_members_auth' project.id project.slug %}">
{% trans 'label_project_team' %}
</a>
</li>

<li class="is-active">
<a href="#">{% trans 'label_edit_project_member' %}</a>
</li>
{% endblock breadcrumb_content %}

{% block page_header %}

<div class="page-header"> 
{% trans 'label_edit_project_member' %} - 
<span style="font-size: 28px; color:#666; font-weight: bold;"> 
@{{ project_member.member.username }}
</span>
</div>

{% endblock page_header %}

{% block content %}

{% url 'reading:project_nonmember_autocomplete' project.id as autocomplete_url %}
{% url 'reading:project_member_create' project.id project.slug as search_url %}

<form 
id="edit-form" 
action="{% url 'reading:project_member_update' project_member.id %}" 
method="post" 
novalidate
>

{% csrf_token %}

{% include 'reading/includes/forms/_project_member_form.html' %}

<div class="form-buttons">

<button id="submit-btn" class="button is-info" type="submit" form="edit-form">
{% trans 'label_update' %}
</button>

<ajax-delete
delete-confirm-id="delete-project-member"
delete-url="{% url 'api:project-member-detail' project_member.id %}" 
delete-redirect-url="{% url 'reading:project_members_auth' project.id project.slug %}"
inline-template
>

<button 
id="post-delete-trigger" 
class="button is-danger"
@click.prevent="confirmDelete"
>
{% trans 'label_delete' %}
</button>

</ajax-delete>

</div>

</form>

{% endblock content %}

{% block modal_content %}

{% include 'reading/includes/_project_member_delete_modal.html' with modal_id='delete-project-member' modal_name='confirmation-modal' %} 

{% endblock modal_content %}