{% extends 'reading/reading_base.html' %}
{% load static %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ project.name }} - {% trans 'label_edit_project_member' %}{% endblock title %}

{% block breadcrumb_content %}
{{ block.super }}
<li>
<a href="{% url 'reading:project_members_auth' project.id project.slug %}">
{% trans 'label_project_team' %}
</a>
</li>

<li class="is-active">
<a href="#">{% trans 'label_edit_project_member' %}</a>
</li>
{% endblock breadcrumb_content %}

{% block page_header %}

<div class="page-header"> {% trans 'label_edit_project_member' %} </div>

{% endblock page_header %}

{% block content %}

{% url 'reading:project_nonmember_autocomplete' project.id as autocomplete_url %}
{% url 'reading:project_member_create' project.id project.slug as search_url %}

<h1 style="font-size: 30px; margin-bottom: 20px;"> @{{ project_member.member.username }} </h1>

<form 
id="edit-form" 
action="{% url 'reading:project_member_update' project_member.id %}" 
method="post" 
novalidate
>

{% csrf_token %}

{% include "reading/includes/forms/_project_member_form.html" %}

<button id="submit-btn" class="button is-info" type="submit" form="edit-form">
{% trans "label_edit" %}
</button>

</form>

{% endblock content %}