{% extends "reading/reading_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "page_project_update_title" %}{% endblock title %}

{% block project_update_link_active %}is-active{% endblock project_update_link_active %}

{% block content %}

<div class="columns">
<div class="column is-10 is-offset-1">

<form 
id="edit-form" 
action="" 
method="post" 
novalidate
>

{% csrf_token %}

{% include "reading/includes/forms/_project_form.html" %}

<button id="submit-btn" class="button is-info" type="submit" form="edit-form">
{% trans "label_update" %}
</button>

</form>

</div>
</div>

{% endblock content %}
