{% extends "reading/reading_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "page_project_create_title" %}{% endblock title %}

{% block project_create_link_active %}is-active{% endblock project_create_link_active %}

{% block content %}

<div class="columns">
<div class="column is-10">

<form 
id="create-form" 
action="" 
method="post" 
novalidate
>

{% csrf_token %}

{% include "reading/includes/forms/_project_form.html" %}

<button id="submit-btn" class="button is-primary" type="submit" form="create-form">
{% trans "label_create" %}
</button>

</form>

</div>
</div>

{% endblock content %}
