{% extends "base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}Dropbox{% endblock title %}

{% block content %}

<div class="columns is-multiline">
<div class="column is-6 is-offset-3">
{% csrf_token %}

<dbx
shared-link-url="{% url 'api:dbx_shared_link' %}"
inline-template
>

<div class="dbx-container">

<div class="dbx-shared-link" style="margin-bottom: 30px;">

<input class="input" ref="audio-url" name="audio-url">

</div>

<div class="dbx-file-uploader" style="margin-bottom: 30px;">

<dbx-audio-file-uploader
ref="dbx-audio-file-uploader"
init-upload-url={% url 'api:dbx_upload_audio' %}
:parent-processing="processing"
@upload-file="onUploadFile($event.path_lower)"
>

<template slot="label-select-file">
{% trans 'label_select_audio_file' %}
</template>

<template slot="label-submit">
{% trans 'label_submit_file' %}
</template>

</dbx-audio-file-uploader>

</div>

<div class="dbx-user-files">

<dbx-user-files
ref="dbx-user-files"
files-url="{% url 'api:dbx_user_files' %}"
:parent-processing="processing"
@select-file="getSharedLink($event)"
inline-template
>

<div>

<button
class="button is-primary"
v-bind:class="[{ 'is-loading': processing }]"
@click.prevent="getFiles"
>
Get User dbx files
</button>

<div class="menu">

<ul class="menu-list">

<dbx-file
v-for="(file, index) in files"
:key="file.id"
:init-file="file"
@select-file="selectFile($event.path_lower)"
inline-template
>
<li> 
<a 
href="#"
@click.prevent="selectFile(file)"
>
[[ file.name ]]
</a>
</li>
</dbx-file>

</ul>

</div>

</div>


</dbx-user-files>

</div>

</div><!-- dbx-container -->

</dbx>

</div>
</div>
{% endblock content %}
