{% load i18n %}

<posts
posts-url="{{ posts_url }}"
:init-is-admin="{{ user.is_admin|yesno:"true,false" }}"
inline-template
>

<div
class="posts"
v-cloak
>

<div v-if="posts && posts.length == 0">

<p>{% trans 'msg_no_posts_in_project' %}</p>

<a class="button is-info" href="{% url 'reading:post_create' project.id project.slug %}">
{% trans 'label_create_post' %}
</a>

</div>

<post
v-for="(post, index) in posts"
:key="post.id"
:init-post="post"
:init-is-admin="isAdmin"
init-view-url="{{ post_url }}"
init-delete-url="{{ post_delete_url }}"
@delete-post="onDeletePost(index)"
inline-template
>

<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="remove">

<div 
class="card post-card" 
v-show="isVisible" 
v-cloak
>

<div class="card-controls">

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-post"
:delete-url="deleteUrl"
@ajax-success="isVisible = false"
inline-template
>

<span class="control">
<a
href="#"
@click.prevent="confirmDelete"
>
<i class="fas fa-times-circle fa-fw"></i>
</a>
</span>

</ajax-delete>

</div>

<div class="card-content">

<div class="name">
<a
href="#"
@click.prevent="view"
>
<span
class="name"
v-html="markdownToHtml(post.name)"
>
</span>
</a>
</div>

<div 
class="desc"
v-html="markdownToHtml(post.description)"
>
</div>

</div>
</div>

</transition>

</post>

</div>

</posts>
