{% load i18n %}

<projects
projects-url="{{ projects_url }}"
:init-is-admin="{{ user.is_admin|yesno:"true,false" }}"
inline-template
>

<div 
class="projects"
v-cloak
>

<project
v-for="(project, index) in projects"
:key="project.id"
:init-project="project"
:init-is-admin="isAdmin"
init-view-url="{{ project_url }}"
init-delete-url="{{ project_delete_url }}"

inline-template
>
<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="isVisible = false">

<div class="card project-card" v-show="isVisible">

<div class="card-controls">

<ajax-delete
v-if="isAdmin"
delete-confirm-id="delete-project"
:delete-url="deleteUrl"
@ajax-success="remove"
inline-template
>

<a
class="delete"
@click.prevent="confirmDelete"
>
</a>
</ajax-delete>

</div>

<div class="card-content">

<a
href="#"
@click.prevent="view"
>
<span
class="name"
v-html="markdownToHtml(project.name)"
>
</span>
</a>

<div 
class="desc"
v-html="markdownToHtml(project.description)"
>
</div>

</div>
</div>

</transition>
</project>

</div>

</transition>
