{% load i18n %}

<projects
projects-url="{{ projects_url }}"
inline-template
>

<div 
class="projects"
v-cloak
>

<project
v-for="(project, index) in projects"
:key="project.id"
:init-project="project"
init-view-url="{{ project_url }}"
inline-template
>
<transition name="fade-transition" v-on:after-enter="isVisible = true" v-on:after-leave="isVisible = false">

<div class="card project-card" v-show="isVisible">
<div class="card-content">

<div class="name">
<a
href="#"
@click.prevent="view"
>
[[ project.name ]]
</a>
</div>

<div class="desc">
[[ project.description ]]
</div>

</div>
</div>

</transition>
</project>

</div>

</transition>
