{% extends "reading/reading_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{% trans "page_entry_title" %}{% endblock title %}

{% block main_section_classes %}entry-view-section{% endblock main_section_classes %}

{% block content %}

<div class="columns">
<div class="column is-10 is-offset-1">

<div class="entry-view">

<div class="entry-name">
<h2>{{ entry.name }}</h2>
</div>

<div class="entry-content">
{{ entry.content|to_html|safe }}
</div>

</div><!-- entry-view -->

</div>
</div>

{% endblock content %}

{% block page_footer %}
{% if entry.audio_url %}
<footer class="entry-view-footer">
<audio-player
audio-player-id="entry-audio"
audio-file="{{ entry.audio_url }}"
:has-loop-btn="false"
:has-download-btn="false"
:has-mute-btn="false"
:has-volume-btn="false"
>
</audio-player>
</footer>
{% endif %}
{% endblock page_footer %}