{% extends "reading/reading_base.html" %}
{% load static %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ post.name }} - {% trans 'label_audios' %}{% endblock title %}

{% block post_audios_link_active %}is-active{% endblock post_audios_link_active %}

{% block breadcrumb_content %}
{{ block.super }}
<li class="is-active">
<a href="#">{% trans 'label_audios' %}</a>
</li>
{% endblock breadcrumb_content %}

{% block main_section_classes %}main-content post-view-section{% endblock main_section_classes %}

{% block page_header %}

<div class="page-header"> {% trans 'label_audios' %} </div>

{% endblock page_header %}

{% block content %}

<div id="post-audios-scroll-top"></div>

{% url 'api:nested-post-audio-list' post.id as post_audios_url %}
{% url 'api:post-audio-detail' 0 as post_audio_delete_url %}
{% url 'reading:post_audio_update' 0 as post_audio_update_url %}

{% alias is_post_admin as is_admin %}

{% include "reading/includes/vue/_post_audios.html" %}

{% endblock content %}

{% block page_footer %}
{% endblock page_footer %}

{% block modal_content %}

{% include 'reading/includes/_post_audio_delete_modal.html' with modal_id='delete-post-audio' modal_name='confirmation-modal' %} 

{% endblock modal_content %}