{% extends "reading/reading_base.html" %}
{% load static %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ post.name }}{% endblock title %}

{% block main_section_classes %}main-content post-view-section{% endblock main_section_classes %}

{% block content %}

<div class="post-view">

<div class="post-name">
<h2>{{ post.name }}</h2>
</div>

<div class="post-content">
{{ post.content|to_html|safe }}
</div>

</div><!-- post-view -->

{% endblock content %}

{% block page_footer %}

{% if audio_url %}

  <footer class="page-footer post-view-footer is-fixed is-bordered">
  <audio-player
  audio-player-id="post-audio"
  audio-file="{{ audio_url }}"
  :has-loop-btn="false"
  :has-download-btn="false"
  :has-mute-btn="false"
  :has-volume-btn="false"
  >
</audio-player>
</footer>

{% endif %}

{% endblock page_footer %}