{% extends "reading/reading_base.html" %}
{% load static %}
{% load core_extras %}
{% load i18n %}

{% block title %}{% trans "page_projects_title" %}{% endblock title %}

{% block projects_link_active %}is-active{% endblock projects_link_active %}

{% block page_header %}

<div class="page-header"> {% trans "label_projects" %} </div>

{% endblock page_header %}

{% block content %}

<div id="projects-scroll-top"></div>

{% url 'api:project-list' as projects_url %}
{% url 'reading:project' 0 'zzz' as project_url %}
{% url 'api:project-detail' 0 as project_delete_url %}

{% include "reading/includes/vue/_projects.html" %}

{% endblock content %}

{% block modal_content %}

{% include 'reading/includes/_project_delete_modal.html' with modal_id='delete-project' modal_name='confirmation-modal' %} 

{% endblock modal_content %}

