{% extends "reading/reading_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ project.name }}{% endblock title %}

{% block content %}

<div id="posts-scroll-top"></div>

{% url 'api:nested-post-list' project.id as posts_url %}
{% url 'reading:post' 0 'zzz' as post_url %}
{% url 'api:post-detail' 0 as post_delete_url %}

{% include "reading/includes/vue/_posts.html" %}

{% endblock content %}

{% block modal_content %}

{% include 'reading/includes/_post_delete_modal.html' with modal_id='delete-post' modal_name='confirmation-modal' %} 

{% endblock modal_content %}
