{% extends "reading/reading_base.html" %}
{% load staticfiles %}
{% load core_extras %}
{% load i18n %}

{% block title %}{{ project.name }}{% endblock title %}

{% block content %}

<div id="readings-scroll-top"></div>

{% url 'api:nested-reading-list' project.id as readings_url %}
{% url 'reading:reading' 0 'zzz' as reading_url %}
{% url 'api:reading-detail' 0 as reading_delete_url %}


<div class="columns">
<div class="column is-10 is-offset-1">
{% include "reading/includes/vue/_readings.html" %}
</div>
</div>

{% endblock content %}

{% block modal_content %}

{% include 'reading/includes/_reading_delete_modal.html' with modal_id='delete-reading' modal_name='confirmation-modal' %} 

{% endblock modal_content %}
