{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block sidebar_nav_items %}

{% if request.session.session_obj.project %}

  <div class="menu">

  <p class="menu-label">
  {% trans 'label_project' %}
  </p>

  <p class="menu-header">
  <a id="sidebar-nav-project-name" href="{% url 'reading:project' project.id project.slug %}">
  <span id="menu-project-name"> {{ project.name }} </span>
  </a>
  </p>

  <ul class="menu-list">

  <span class="sidebar-divider"></span>

  {% if project.owner_id == user.id %}
    <li>
    <a 
    id="sidebar-nav-reading-create" 
    class="{% block reading_create_link_active %}{% endblock reading_create_link_active %}" 
    href="{% url 'reading:reading_create' project.id project.slug %}"
    >
    <i class="menu-icon fas fa-plus fa-fw"></i> {% trans "label_new_reading" %}
    </a>
    </li>

    <span class="sidebar-divider"></span>

  {% endif %}
  </ul>

  </div>

{% elif request.session.session_obj.reading %}

  <div class="menu">

  <p class="menu-label">
  {% trans 'label_project' %}
  </p>

  <p class="menu-header">
  <a id="sidebar-nav-project-name" href="{% url 'reading:project' project.id project.slug %}">
  <span id="menu-project-name"> {{ project.name }} </span>
  </a>
  </p>

  <ul class="menu-list">

  <span class="sidebar-divider"></span>

  </ul>

  </div>

{% endif %}

{{ block.super }}

{% endblock sidebar_nav_items %}

{% block python_to_javascript %}

var appSessionUrl = "{% url 'app:app_session' %}";

{% endblock python_to_javascript %}

