{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body_classes %}

sidebar-adaptable theme-cloudy {{ sidebar_expanded|yesno:'sidebar-expanded,' }}

{% endblock body_classes %}

{% block content_top %}

{% block page_header %}
{% endblock page_header %}

{% block breadcrumbs %}

{% if request.session.session_obj %}

  <nav class="breadcrumb">

  <ul>
  {% block breadcrumb_content %}

  {% include "reading/includes/_reading_breadcrumbs.html" %}

  {% endblock breadcrumb_content %}
  </ul>

  </nav>

{% endif %}

{% endblock breadcrumbs %}

{% endblock content_top %}

{% block sidebar_nav_items %}

{% if request.session.session_obj.project %}

  <div class="menu">

  <p class="menu-label">
  {% trans 'label_project' %}
  </p>

  <p class="menu-header">
  <a id="sidebar-nav-project-name" href="{% url 'reading:project' project.id project.slug %}">
  <span id="menu-project-name"> {{ project.name }} </span>
  </a>
  </p>

  <span class="sidebar-divider"></span>

  <ul class="menu-list">

  {% if project.owner_id == user.id %}

    <li>
    <a 
    id="sidebar-nav-project-team" 
    class="{% block project_team_link_active %}{% endblock project_team_link_active %}" 
    href=""
    >
    <i class="menu-icon fas fa-users fa-fw"></i> {% trans 'label_project_team' %}
    </a>
    </li>

    <li>
    <a 
    id="sidebar-nav-project-edit" 
    class="{% block project_update_link_active %}{% endblock project_update_link_active %}" 
    href="{% url 'reading:project_update' project.id project.slug %}"
    >
    <i class="menu-icon fas fa-edit fa-fw"></i> {% trans 'label_edit_project' %}
    </a>
    </li>

  {% endif %}

  {% if is_project_member %}

    <li>
    <a 
    id="sidebar-nav-post-create" 
    class="{% block post_create_link_active %}{% endblock post_create_link_active %}" 
    href="{% url 'reading:post_create' project.id project.slug %}"
    >
    <i class="menu-icon fas fa-plus fa-fw"></i> {% trans 'label_new_post' %}
    </a>
    </li>

    <span class="sidebar-divider"></span>

  {% endif %}

  </ul>

  </div>

{% elif request.session.session_obj.post_obj %}

  <div class="menu">

  <p class="menu-label">
  {% trans 'label_project' %}
  </p>

  <p class="menu-header">
  <a id="sidebar-nav-project-name" href="{% url 'reading:project' project.id project.slug %}">
  <span id="menu-project-name"> {{ project.name }} </span>
  </a>
  </p>

  <ul class="menu-list">

  <span class="sidebar-divider"></span>

  </ul>

  </div>

  <div class="menu">

  <p class="menu-label">
  {% trans 'label_post' %}
  </p>

  <p class="menu-header">
  <a id="sidebar-nav-post-name" href="{% url 'reading:post' post.id post.slug %}">
  <span id="menu-post-name"> {{ post.name }} </span>
  </a>
  </p>

  <ul class="menu-list">

  {% if is_post_admin %}

    <li>
    <a 
    id="sidebar-nav-post-edit" 
    class="{% block post_update_link_active %}{% endblock post_update_link_active %}" 
    href="{% url 'reading:post_update' post.id post.slug %}"
    >
    <i class="menu-icon fas fa-edit fa-fw"></i> {% trans 'label_edit_post' %}
    </a>
    </li>

    <li>
    <a 
    id="sidebar-nav-post-audios" 
    class="{% block post_audios_link_active %}{% endblock post_audios_link_active %}" 
    href="{% url 'reading:post_audios' post.id post.slug %}"
    >
    <i class="menu-icon fas fa-music fa-fw"></i> {% trans 'label_post_audios' %}
    </a>
    </li>

    <li>
    <a 
    id="sidebar-nav-post-edit" 
    class="{% block audio_create_link_active %}{% endblock audio_create_link_active %}" 
    href="{% url 'reading:post_audio_create' post.id post.slug %}"
    >
    <i class="menu-icon fas fa-plus fa-fw"></i> {% trans 'label_add_audio' %}
    </a>
    </li>

  {% endif %}

  <span class="sidebar-divider"></span>

  </ul>

  </div>

{% endif %}

{{ block.super }}

{% endblock sidebar_nav_items %}

{% block python_to_javascript %}

var initSidebarSessionEnabled = true;
var sidebarExpanded = {{ sidebar_expanded|yesno:"true,false" }};
var appSessionUrl = "{% url 'app:app_session' %}";

{% endblock python_to_javascript %}

